@charset "UTF-8";

@font-face {
    font-family:'PassionOne';
    src: url(fontes/PassionOne-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
}

main {
    font-family: 'Sriracha', sans-serif;
    font-size: 3.5vw;
}

header {
    position: relative;
    background-color: black;
    width: 100%;
    height: 25vw;
}

#titulo {
    width: 100%;
    font-size: 5vw;
    font-variant: small-caps;
    text-align: center;
    color: white;
    font-family: 'PassionOne', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titulo p {
    font-size: 2vw;
    font-variant: normal;
    font-weight: light;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#link {
    text-decoration: none;
    color: white;
}

#link:hover {
    text-decoration: underline;
    color: white;
}

section.normal {
    padding-top: 4vh;
    padding-left: 5vw;
    background-color: white;
}

.especial {
    padding-top: 4vh;
    padding-bottom: 6vh;
    padding-left: 3.5vw;
    color: white;
    text-align: justify;
}

.especial > p {
    text-shadow: 2px 2px 1px black;
    background-color: rgba(0, 0, 0, 0.534);
    width: max-content;
    padding: 10px;
}

section > p {
    padding-bottom: 2em;
}

#fundo1 {
    background-image: url(imagens/background001.jpg);
    background-position: top right;
    /* Efeito parallax - background attachment - fixed / background size - cover */
    background-attachment: fixed;
    background-size: cover;

    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.384);
}

#fundo2 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    /* Efeito parallax - background attachment - fixed / background size - cover */
    background-attachment: fixed;
    background-size: cover;

    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.384);
}

footer {
    padding: 3px;
    font-weight: light;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}




